dp203wipro/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "dp203wipro"
		},
		"5531Crypto_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of '5531Crypto'"
		},
		"Blob5531Crypto_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Blob5531Crypto'"
		},
		"dp203wipro-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dp203wipro-WorkspaceDefaultSqlServer'"
		},
		"dp203wipro-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dp203wipro.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline5531Crypto')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy5531CryptoVol",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy5531CryptoFactVol",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "5531_crypto_vol",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet5531Crypto",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy 5531CryptoVolBinance",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy 5531CryptoVolPond",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "5531_crypto_vol_binance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "5531CryptoVolBinance",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FailCryptoVol",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Copy5531CryptoVol",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy5531CryptoFactVol",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy 5531CryptoVolPond",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Failed to load tickers from Gate.io",
							"errorCode": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FailCryptoVolBinance",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Copy 5531CryptoVolBinance",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy5531CryptoFactVolBinance",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy 5531CryptoVolPondBinance",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Error to load tickers from Binance",
							"errorCode": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy5531CryptoFactVol",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "RemoveAllParquetFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "5531CryptoFactVol",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet5531CryptoFactVol",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy5531CryptoFactVolBinance",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy5531CryptoVol",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "5531FactCryptoVolBinance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetFacCryptoVolBinance",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Union of Exchanges",
						"type": "SynapseNotebook",
						"dependsOn": [
							{
								"activity": "Copy 5531CryptoVolPondBinance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebook": {
								"referenceName": "Union of Exchanges",
								"type": "NotebookReference"
							},
							"snapshot": true
						}
					},
					{
						"name": "RemoveAllParquetFiles",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "5531CryptoFiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": {
									"value": "@{concat('*',formatDateTime(utcNow(),'yyyyMMdd'),'*')\n\n}",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "FailToRemoveFiles",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "RemoveAllParquetFiles",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Failed to Remove files from Data Lake",
							"errorCode": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy 5531CryptoVolPondBinance",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy 5531CryptoVolBinance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fact_analyze_crypto_vol_pond_binance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet5531CryptoVolBinancePond",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy 5531CryptoVolPond",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy5531CryptoFactVolBinance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fact_analyze_crypto_vol_pond",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet5531CryptoVolPond",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-06T18:55:39Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/5531_crypto_vol')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet5531Crypto')]",
				"[concat(variables('workspaceId'), '/datasets/5531_crypto_vol_binance')]",
				"[concat(variables('workspaceId'), '/datasets/5531CryptoVolBinance')]",
				"[concat(variables('workspaceId'), '/datasets/5531CryptoFactVol')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet5531CryptoFactVol')]",
				"[concat(variables('workspaceId'), '/datasets/5531FactCryptoVolBinance')]",
				"[concat(variables('workspaceId'), '/datasets/ParquetFacCryptoVolBinance')]",
				"[concat(variables('workspaceId'), '/notebooks/Union of Exchanges')]",
				"[concat(variables('workspaceId'), '/datasets/5531CryptoFiles')]",
				"[concat(variables('workspaceId'), '/datasets/fact_analyze_crypto_vol_pond_binance')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet5531CryptoVolBinancePond')]",
				"[concat(variables('workspaceId'), '/datasets/fact_analyze_crypto_vol_pond')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet5531CryptoVolPond')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5531CryptoFactVol')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "5531Crypto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`fact_analyze_crypto_vol`"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/5531Crypto')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5531CryptoFiles')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blob5531Crypto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "dp203wipro"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/Blob5531Crypto')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5531CryptoVolBinance')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp203wipro-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('binance_',formatDateTime(utcNow(),'yyyyMMdd'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('5531Crypto_',formatDateTime(utcNow(),'yyyyMMdd'))",
							"type": "Expression"
						},
						"fileSystem": "dp203wipro"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT32"
					},
					{
						"name": "fact_calc",
						"type": "FLOAT"
					},
					{
						"name": "ticker",
						"type": "UTF8"
					},
					{
						"name": "coin",
						"type": "UTF8"
					},
					{
						"name": "pair",
						"type": "UTF8"
					},
					{
						"name": "vol_time",
						"type": "INT32"
					},
					{
						"name": "volume",
						"type": "FLOAT"
					},
					{
						"name": "processed_date",
						"type": "INT96"
					},
					{
						"name": "pond_value",
						"type": "FLOAT"
					},
					{
						"name": "last_processed_date",
						"type": "INT96"
					},
					{
						"name": "sign_vol",
						"type": "FLOAT"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dp203wipro-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5531FactCryptoVolBinance')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "5531Crypto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`fact_analyze_crypto_vol_binance`"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/5531Crypto')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5531_crypto_vol')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "5531Crypto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`dm_fact_analyze_crypto_vol`"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/5531Crypto')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5531_crypto_vol_binance')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "5531Crypto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`dm_fact_analyze_crypto_vol_binance`"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/5531Crypto')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet5531Crypto')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blob5531Crypto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('gateio_',formatDateTime(utcNow(),'yyyyMMdd'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('5531Crypto_',formatDateTime(utcNow(),'yyyyMMdd'))",
							"type": "Expression"
						},
						"container": "dp203wipro"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/Blob5531Crypto')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet5531CryptoFactVol')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp203wipro-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('gateio_',formatDateTime(utcNow(),'yyyyMMdd'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('5531CryptoFact_',formatDateTime(utcNow(),'yyyyMMdd'))",
							"type": "Expression"
						},
						"fileSystem": "dp203wipro"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT32"
					},
					{
						"name": "fact_calc",
						"type": "FLOAT"
					},
					{
						"name": "ticker",
						"type": "UTF8"
					},
					{
						"name": "coin",
						"type": "UTF8"
					},
					{
						"name": "pair",
						"type": "UTF8"
					},
					{
						"name": "vol_time",
						"type": "INT32"
					},
					{
						"name": "volume",
						"type": "FLOAT"
					},
					{
						"name": "processed_date",
						"type": "INT96"
					},
					{
						"name": "pond_value",
						"type": "FLOAT"
					},
					{
						"name": "last_processed_date",
						"type": "INT96"
					},
					{
						"name": "sign_vol",
						"type": "FLOAT"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dp203wipro-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet5531CryptoVolBinancePond')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp203wipro-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('binancepond_',formatDateTime(utcNow(),'yyyyMMdd'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('5531CryptoPond_',formatDateTime(utcNow(),'yyyyMMdd'))",
							"type": "Expression"
						},
						"fileSystem": "dp203wipro"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT32"
					},
					{
						"name": "ticker",
						"type": "UTF8"
					},
					{
						"name": "coin",
						"type": "UTF8"
					},
					{
						"name": "pair",
						"type": "UTF8"
					},
					{
						"name": "vol_time",
						"type": "INT32"
					},
					{
						"name": "volume",
						"type": "FLOAT"
					},
					{
						"name": "processed_date",
						"type": "INT96"
					},
					{
						"name": "pond_value",
						"type": "FLOAT"
					},
					{
						"name": "dm_inserted",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dp203wipro-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet5531CryptoVolPond')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp203wipro-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('gateiopond_',formatDateTime(utcNow(),'yyyyMMdd'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('5531CryptoPond_',formatDateTime(utcNow(),'yyyyMMdd'))",
							"type": "Expression"
						},
						"fileSystem": "dp203wipro"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT32"
					},
					{
						"name": "ticker",
						"type": "UTF8"
					},
					{
						"name": "coin",
						"type": "UTF8"
					},
					{
						"name": "pair",
						"type": "UTF8"
					},
					{
						"name": "vol_time",
						"type": "INT32"
					},
					{
						"name": "volume",
						"type": "FLOAT"
					},
					{
						"name": "processed_date",
						"type": "INT96"
					},
					{
						"name": "pond_value",
						"type": "FLOAT"
					},
					{
						"name": "dm_inserted",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dp203wipro-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ParquetFacCryptoVolBinance')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp203wipro-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('binance_',formatDateTime(utcNow(),'yyyyMMdd'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('5531CryptoFact_',formatDateTime(utcNow(),'yyyyMMdd'))",
							"type": "Expression"
						},
						"fileSystem": "dp203wipro"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT32"
					},
					{
						"name": "fact_calc",
						"type": "FLOAT"
					},
					{
						"name": "ticker",
						"type": "UTF8"
					},
					{
						"name": "coin",
						"type": "UTF8"
					},
					{
						"name": "pair",
						"type": "UTF8"
					},
					{
						"name": "vol_time",
						"type": "INT32"
					},
					{
						"name": "volume",
						"type": "FLOAT"
					},
					{
						"name": "processed_date",
						"type": "INT96"
					},
					{
						"name": "pond_value",
						"type": "FLOAT"
					},
					{
						"name": "last_processed_date",
						"type": "INT96"
					},
					{
						"name": "sign_vol",
						"type": "FLOAT"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dp203wipro-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/fact_analyze_crypto_vol_pond')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "5531Crypto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`fact_analyze_crypto_vol_pond`"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/5531Crypto')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/fact_analyze_crypto_vol_pond_binance')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "5531Crypto",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`fact_analyze_crypto_vol_pond_binance`"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/5531Crypto')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5531Crypto')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('5531Crypto_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Blob5531Crypto')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Blob5531Crypto_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dp203wipro-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('dp203wipro-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dp203wipro-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('dp203wipro-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Union of Exchanges')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "spark01",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 1,
					"conf": {
						"spark.dynamicAllocation.enabled": "true",
						"spark.dynamicAllocation.minExecutors": "1",
						"spark.dynamicAllocation.maxExecutors": "1",
						"spark.autotune.trackingId": "927d3b84-2c4a-4205-9262-d26349c2ae84"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/735d0ce7-dfad-483d-94ed-3fa2bd57b61c/resourceGroups/dp203wipro/providers/Microsoft.Synapse/workspaces/dp203wipro/bigDataPools/spark01",
						"name": "spark01",
						"type": "Spark",
						"endpoint": "https://dp203wipro.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/spark01",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.1",
						"nodeCount": 10,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"from pyspark.sql.functions import *\r\n",
							"import datetime\r\n",
							"\r\n",
							"dt = datetime.datetime.now()\r\n",
							"dt_frm = dt.strftime('%Y%m%d')\r\n",
							"\r\n",
							"\r\n",
							"dfBinance = spark \\\r\n",
							"          .read \\\r\n",
							"          .load(f'abfss://dp203wipro@dp203wipro.dfs.core.windows.net/5531CryptoFact_{dt_frm}/binance_*', format='parquet')\r\n",
							"\r\n",
							"dfGateio = spark \\\r\n",
							"     .read \\\r\n",
							"     .load(f'abfss://dp203wipro@dp203wipro.dfs.core.windows.net/5531CryptoFact_{dt_frm}/gateio_*', format='parquet')\r\n",
							"\r\n",
							"dfGateio  = dfGateio.withColumn('Exchange',lit('GATEIO'))\r\n",
							"dfBinance  = dfBinance.withColumn('Exchange',lit('BINANCE'))\r\n",
							"\r\n",
							"dfResult = dfBinance.unionAll(dfGateio)\r\n",
							""
						],
						"outputs": [],
						"execution_count": 8
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"dfBinancePond = spark \\\n",
							"          .read \\\n",
							"          .load(f'abfss://dp203wipro@dp203wipro.dfs.core.windows.net/5531CryptoPond_{dt_frm}/binancepond_*', format='parquet')\n",
							"\n",
							"dfGateioPond = spark \\\n",
							"     .read \\\n",
							"     .load(f'abfss://dp203wipro@dp203wipro.dfs.core.windows.net/5531CryptoPond_{dt_frm}/gateiopond_*', format='parquet')\n",
							"\n",
							"dfGateioPond  = dfGateio.withColumn('Exchange',lit('GATEIO'))\n",
							"dfBinancePond  = dfBinancePond.withColumn('Exchange',lit('BINANCE'))\n",
							"\n",
							"dfResultPond = dfBinancePond.unionAll(dfGateioPond)"
						],
						"outputs": [],
						"execution_count": 10
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"\n",
							"#master fact tables\n",
							"dfResult.write.format('parquet').mode('append').save(f'abfss://dp203wipro@dp203wipro.dfs.core.windows.net/fact_{dt_frm}')\n",
							"\n",
							"#ponderation tables\n",
							"dfResultPond.write.format('parquet').mode('append').save(f'abfss://dp203wipro@dp203wipro.dfs.core.windows.net/factpond_{dt_frm}')\n",
							"\n",
							""
						],
						"outputs": [],
						"execution_count": null
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/spark01')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 3,
					"minNodeCount": 3
				},
				"nodeCount": 10,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.1",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "eastus2"
		}
	]
}